<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}">
    <title>등록하기</title>
</head>
<body>
<div class="container">
    <h1 class="text-container">등록하기</h1>
    <br/>

    <div class="col-md-6">
        <form action="#"
              th:action="@{/create}"
              th:object="${task}"
              method="post">
            <div class="form-group">
                <label for="description">할일</label>
                <input class="form-control" type="text" th:field="*{description}" placeholder="할일을 입력하세요." id="description" />
                <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
            </div>
            <button class="btn btn-primary" type="submit">등록하기</button>
        </form>
    </div>

</div>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>